{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Metropolitan <span>Threads & Transits</span></h1>
      <p class="mb-4 pb-0">We target to turn Toronto more stylish faster.</p>
    </div>
  </section><!-- End Hero Section -->

 <main id="main">

       <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container position-relative" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-9">
            <h2>Our Objective</h2>
            <p>At Om Services, we're revolutionizing urban lifestyles with seamless Uber-inspired transportation and cutting-edge fashion retail. With plans to expand, we aim to be the go-to destination for modern consumers seeking convenience in transportation and the latest trends in fashion.</p>
          </div>
          <div class="col-lg-3">
            <h3>Our Work</h3>
            <ul>
              <li>Vehicle Booking</li>
              <li>Fashion Retail</li>
              <li>Business Analytics</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= articles Section ======= -->
    <section id="articles">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>articles</h2>
          <p>Here are some of our articles</p>
        </div>

        <div class="row">
          {% for article in articles %}
          <div class="col-lg-4 col-md-6">
            <div class="article" data-aos="fade-up" data-aos-delay="100">
              <img src="{{article.image.url}}" alt="article 1" class="img-responsive" height="200px" width="100%">
              <div class="details">
                <h3><a href="{% url 'detail' article_id=article.id %}">{{article.title}}</a></h3>
                <p>{{article.created_at}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </section><!-- End articles Section -->


    <!-- ======= Gallery Section ======= -->
    <section id="gallery">

      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the recent events</p>
        </div>
      </div>

      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          {% for gallery in galleries %}
          <div class="swiper-slide"><a href={{gallery.image.url}} class="gallery-lightbox"><img src={{gallery.image.url}} class="img-fluid" alt=""></a></div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>

    </section><!-- End Gallery Section -->

   <!-- ======= Contact Section ======= -->
    <section id="team" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Team</h2>
          <p>Building success together</p>
        </div>

        <div class="row contact-info">
          <div class="row justify-content-center">
            <div class="col-md-3">
              <div class="card">
                <img src="{% static 'assets/img/jagat_pant.png' %}" alt="Jagat Pant" style="height:350px;width:100%">
                <div class="container">
                  <br>
                  <h3 class="mb-0 text-center"><b>Jagat Pant</b></h3>
                  <p class="mb-1 text-center"><b>CEO &amp; Founder</b></p>
                  <p class="text-center mb-3"><a href="https://www.linkedin.com/in/jagat-pant-7b905538/" class="linkedin"><i class="bi bi-linkedin"></i></a></p>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card">
                <img src="{% static 'assets/img/bhawana_pant.jpg' %}" alt="Bhawana Pant" style="height:350px;width:100%">
                <div class="container">
                  <br>
                  <h3 class="mb-0 text-center"><b>Bhawana Pant</b></h3>
                  <p class="mb-1 text-center"><b>Manager</b></p>
                  <p class="text-center mb-3"><a href="https://www.linkedin.com/in/bhawana-neupane-pant-49437142/" class="linkedin"><i class="bi bi-linkedin"></i></a></p>
                </div>
              </div>
            </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">

      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Reach us for any Inquiries or Support</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>720 Kennedy Rd <br>
              Scarborough, ON, Canada <br>
              M1K 2B7</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+19052266615">+1 (905) 226-6615</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:jagatpant@omservices.ca">jagatpant@omservices.ca</a></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock content %}